{% extends "template.html" %}
{% block content %}
  <h2>Email Manager</h2>
  <p><a href="/logout">Logout</a></p>
  <p><a href="/main">Cancel</a></p>
    <h3>Add a new entry</h3>
    <form action="{{ url_for('new_company') }}" method="post" class="new_company">
      <label><strong>Company Name</strong></label>
      <input name="company_name" type="text"><br/>
      <label><strong>Email</strong></label>
      <input name="email" type="text"><br/>
      <label><strong>URL</strong></label>
      <input name="url" type="text"><br/>
      <input class="button" type="submit" value="Save">
    </form>
  <br/>
  <br/>
{% endblock %}

